@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    font-weight: 700;
    font-size: 18px;
}
hr{
    background: #828282;
    margin-bottom: 35px;
}

ul{
    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 34px;
    padding-bottom: 50px;
}
.container {
    width: 945px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}
                    /*//////////////////////////HEADER/////////////////*/
nav{
    margin: -10px 0 20px 0;
}
nav a{
    color:#828282;
}
.active,nav a:hover{
    color:black;
}
.information{
    display: flex;
    justify-content: space-between;
}
.information h1{
font-size: 48px;
}
.information span{
    float: right;
}
.banner{
    margin: 50px 0 50px 0;
}
                    /*//////////////////////////ABOUT ME/////////////////*/
.about-me{
    background: #F4F4F4;
    width: 100%;
}
.about-me-content{
    display: flex;
}
.self-photo{
    width: 450px;
    height: 450px;
    margin-right: 44px;
}
.information-about-me{
    margin-top: 85px;
}
.information-about-me p{
    font-size: 20px;
    font-weight: 700;
    color: #070707;
    margin-top: 18px;

}

                    /*//////////////////////////SKILLS/////////////////*/
.skills-wrap{
    display: flex;
    justify-content: space-between;
}
.skills-item{
    text-align: center;
}
.skills-item p{
    color:#828282;
    font-size: 14px;
    font-weight: 700;
}
.skills-item img{
    padding-bottom: 20px;
}
.skills-item:last-child .appraisal{
    margin-top: 58px;
}
.appraisal{
    margin-top: 40px;
}
.appraisal img:first-child{
    margin: 0;
}
.appraisal img{
    margin-left: 9px;
}

                    /*//////////////////////////PORTFOLIO/////////////////*/
.portfolio{
    background: #F4F4F4;
    width: 100%;
    text-align: center;

}
.portfolio a{
    text-decoration:underline;
    font-size: 18px;
    color: black;
    padding: 40px 0 86px 0;
    width: 100%;
}
img.portfolio-example-one{
margin-bottom: 40px;
}

img.portfolio-example-two,img.portfolio-example-three {
    margin:86px 0 40px 0;
}
                /*/////////////////////////////////CONTACTS///////////////////*/
.contacts-wrap{
    display: flex;
    justify-content: center;
}
.contacts-item:first-child{
    margin: 0;
}
.contacts-item{
    margin-left: 60px;
}